In [1]:
import pandas as pd

### Практическое задание №1

In [2]:
ufo = pd.read_csv('data/ufo.csv', sep=',')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
ufo['Time'] = pd.to_datetime(ufo['Time'])
display(ufo['Time'])

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

In [6]:
years_max = ufo['Time'].dt.year
years_max.mode()

0    1999
Name: Time, dtype: int32

In [16]:
ufo['Date'] = ufo['Time'].dt.date
print(ufo[ufo['State']=='NV']['Date'].diff().dt.days.mean())

68.92932862190813

### Практическое задание №2

In [5]:
citibike_df = pd.read_csv('data/citibike-tripdata.csv', sep=',')

In [6]:
citibike_df.head()
citibike_df.tail()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [7]:
citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [9]:
citibike_df['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

In [10]:
citibike_df['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

In [18]:
mode_usertype = citibike_df['usertype'].mode()[0]
count_mode_user = citibike_df[citibike_df['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / citibike_df.shape[0], 2))

0.77

In [21]:
mode_gender = citibike_df['gender'].mode()[0]
count_mode_gender = citibike_df[citibike_df['gender'] == mode_gender].shape[0]
print(count_mode_gender)

183582

In [22]:
citibike_df['start station name'].nunique()

759

In [23]:
citibike_df['end station name'].nunique()

765

In [25]:
citibike_df['birth year'].max()

2002

In [27]:
citibike_df['start station name'].value_counts()

start station name
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: count, Length: 759, dtype: int64

In [28]:
citibike_df['end station name'].mode()

0    West St & Chambers St
Name: end station name, dtype: object

In [33]:
citibike_df = citibike_df.drop(['start station id'], axis=1)
citibike_df = citibike_df.drop(['end station id'], axis=1)

In [35]:
citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [38]:
citibike_df['age'] = 2018 - citibike_df['birth year']
display(citibike_df['age'])
citibike_df = citibike_df.drop(['birth year'], axis=1)

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: age, Length: 300000, dtype: int64

In [43]:
print(citibike_df[citibike_df['age'] > 60].shape[0])

11837

In [47]:
citibike_df['stoptime'] = pd.to_datetime(citibike_df['stoptime'], dayfirst=True)
display(citibike_df['stoptime'])

0        2018-09-01 00:27:20.634
1        2018-09-01 00:02:23.481
2        2018-09-01 00:55:58.547
3        2018-09-01 00:07:38.583
4        2018-09-01 02:21:25.308
                   ...
299995   2018-09-05 19:15:51.494
299996   2018-09-05 19:20:01.508
299997   2018-09-05 19:13:40.506
299998   2018-09-05 20:04:29.322
299999   2018-09-05 19:12:14.762
Name: stoptime, Length: 300000, dtype: datetime64[ns]

In [48]:
citibike_df['starttime'] = pd.to_datetime(citibike_df['starttime'], dayfirst=True)
display(citibike_df['starttime'])

0        2018-01-09 00:00:05.269
1        2018-01-09 00:00:11.281
2        2018-01-09 00:00:20.649
3        2018-01-09 00:00:21.746
4        2018-01-09 00:00:27.315
                   ...
299995   2018-05-09 19:08:27.846
299996   2018-05-09 19:08:28.370
299997   2018-05-09 19:08:27.509
299998   2018-05-09 19:08:29.230
299999   2018-05-09 19:08:29.711
Name: starttime, Length: 300000, dtype: datetime64[ns]

In [50]:
citibike_df['trip_duration'] = citibike_df['stoptime'] - citibike_df['starttime']
display(citibike_df['trip_duration'])

0        235 days 00:27:15.365000
1        235 days 00:02:12.200000
2        235 days 00:55:37.898000
3        235 days 00:07:16.837000
4        235 days 02:20:57.993000
                   ...
299995   119 days 00:07:23.648000
299996   119 days 00:11:33.138000
299997   119 days 00:05:12.997000
299998   119 days 00:56:00.092000
299999   119 days 00:03:45.051000
Name: trip_duration, Length: 300000, dtype: timedelta64[ns]

In [51]:
display(citibike_df['trip_duration'].loc[3])

Timedelta('235 days 00:07:16.837000')

In [59]:
days = citibike_df['starttime'].dt.dayofweek
citibike_df['weekend'] = days.apply(lambda x: 1 if x ==5 or x == 6 else 0)
citibike_df['weekend'].sum()

0

In [64]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
citibike_df['time_of_day'] = citibike_df['starttime'].dt.hour.apply(get_time_of_day)
a = citibike_df[citibike_df['time_of_day'] == 'day'].shape[0]
b = citibike_df[citibike_df['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9